body{background-color: rgb(0, 0, 0);  
    text-align: center;
}

h1 {color: antiquewhite;

}

h6{color:aliceblue


}

ul {color:aliceblue 

}

li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

li img{
    width: 30px;
    height: 30px;

}
li{
    transition: 0.3s;

}
li:hover{
    color:brown;
    font-size:20px;


}